<ol class="breadcrumb alert-danger">
  <li class="breadcrumb-item" routerLink="/">Home</li>
  <li class="breadcrumb-item">About</li>
</ol>
<div class="py-5">
  <div class="d-flex">
    <img
      src="https://cdn01.dienmaycholon.vn/filewebdmclnew/public//userupload/images/thiet-ke-phong-khach-kim-loai.jpg"
      alt="..."
      class="w-50 mr-5"
    />
    <div>
      <h2 class="">Our Story</h2>
      <p class="text-primary">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat
        accusantium sapiente tempora sed dolore esse deserunt eaque excepturi,
        delectus error accusamus vel eligendi, omnis beatae. Quisquam, dicta.
        Eos quod quisquam esse recusandae vitae neque dolore, obcaecati incidunt
        sequi blanditiis est exercitationem molestiae delectus saepe odio
        eligendi modi porro eaque in libero minus unde sapiente consectetur
        architecto. Ullam rerum, nemo iste ex, eaque perspiciatis nisi, eum
        totam velit saepe sed quos similique amet. Ex, voluptate accusamus
        nesciunt totam vitae esse iste.
      </p>
    </div>
  </div>
</div>
