<div class="container">
  <div class="row">
    <div class="col">
      <span>
        <img
          src="https://react-course-comfy-sloth-store.netlify.app/static/media/hero-bcg.a876f19f.jpeg"
          alt="..."
          class="float-right w-50"
        />
      </span>
      <h2 class="my-5">Design Your<br />Comfort Zone</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto, at sed
        omnis corporis doloremque possimus velit! Repudiandae nisi odit, aperiam
        odio ducimus, obcaecati libero et quia tempora excepturi quis alias?
      </p>
      <a href="#" class="btn btn-danger">Shop Now</a>
    </div>
  </div>

  <!-- Hr -->
</div>
