<nav>
  <div
    class="container-xl d-flex flex-md-row align-items-center bg-white border-bottom shadow-sm justify-content-between"
  >
    <a
      class="navbar-brand my-0 font-weight-normal"
      routerLinkActive="active"
      routerLink="/"
    >
      <img
        src="https://react-course-comfy-sloth-store.netlify.app/static/media/logo.221f6b13.svg"
        alt="comfy-sloth"
      />
    </a>

    <span>
      <a
        class="p-4 text-primary font-weight-bold"
        routerLink="/"
        routerLinkActive="active"
        >Home</a
      >

      <a
        class="p-4 text-primary font-weight-bold"
        routerLink="/about"
        routerLinkActive="active"
        >About</a
      >

      <a
        class="p-4 text-primary font-weight-bold"
        routerLink="/products"
        routerLinkActive="active"
        >Products</a
      ></span
    >

    <span>
      <a class="p-4 text-info" routerLink="/cart" routerLinkActive="active"
        >Cart</a
      >
      <a
        class="btn btn-outline-info"
        routerLink="/login"
        routerLinkActive="active"
      >
        Login <i class="fas fa-user"></i> </a
    ></span>
  </div>
</nav>
